<div class='container'>

  <div class='row mt-3'>
    <h4 class='border border-dark bg-secondary text-white p-2'>会員情報編集</h4>
  </div>

  <%= form_with model: @end_user, url: end_users_information_path, method: :patch, local: true do |f| %>

    <div class='form-group row mt-3'>
      <%= f.file_field :profile_image, accept: 'image/*' %>
    </div>

    <div class='form-group row'>
      <%= f.label :account_name, 'アカウント名', class: 'col-2 form-label' %>
      <%= f.text_field :account_name, autofocus: true, placeholder: 'samplename', class: 'col-10 form-control' %>
    </div>

    <div class='form-group row'>
      <%= f.label :email, 'メールアドレス', class: 'col-2 form-label' %>
      <%= f.email_field :email, placeholder: 'sample@example.com', class: 'col-10 form-control' %>
    </div>

    <div class='form-group row mt-3'>
      <%= f.label :is_study, '学習ステータス', class: 'col-2 form-label' %>
      <%= f.text_field :is_study, class: 'col-10 form-control' %>
    </div>

    <div class='form-group row mt-3'>
      <%= f.label :exam_date, '受験予定日', class: 'col-2 form-label' %>
      <%= f.text_field :exam_date, placeholder: 'YYYY-MM-dd (例:2023-10-01)', class: 'col-10 form-control' %>
    </div>

    <div class='row'>
      <div class='offset-2 col-10 pl-0'>
        <%= f.submit '変更内容を保存', class: 'btn btn-success pl-5 pr-5' %>
        <%= link_to '削除する', end_users_unsubscribe_path, class: 'btn btn-danger pl-5 pr-5 ml-5' %>
      </div>
    </div>
  <% end %>

</div>