<div class="container">

  <div class="row mt-3">
    <h4 class="border border-dark bg-secondary text-white p-2">
      <%= @end_user.account_name %>さんの情報
    </h4>
  </div>

  <div class="row mt-3">
    <p class="font-weight-bold">登録情報</p>
  </div>

  <div class="row">
    <div class="col">
      <%= image_tag @end_user.get_profile_image(150,150) %>
    </div>
  </div>

  <div class="row mt-3">
    <table class="col table table-bordered border-black">
      <tbody>
        <tr>
          <td style="width: 25%">アカウント名</td>
          <td style="width: 75%"><%= @end_user.account_name %></td>
        </tr>
        <tr>
          <td>学習ステータス</td>
          <td><%= @end_user.is_study_i18n %></td>
        </tr>
        <tr>
          <td>総学習時間</td>
          <td>
            <% total_time = 0 %>
            <% @end_user.learning_records.each do |learning_record| %>
              <% if learning_record.end_time.present? %>
                <%total_time += learning_record.end_time - learning_record.start_time %>
              <% else %>
                <%total_time += 0 %>
              <% end %>
            <% end %>
            <%= (total_time/(60*60)).round(2) %>時間
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row mt-3">
    <p class="font-weight-bold">使用参考書</p>
  </div>

  <% if @reference_books.any? %>
    <div class="row mt-5">
      <table class="table offset-2 col-8">
        <thead>
          <tr>
            <th style="width: 30%"></th>
            <th style="width: 20%">タイトル</th>
            <th style="width: 20%">著者名</th>
            <th style="width: 20%">進捗度</th>
          </tr>
        </thead>
        <tbody>
          <% @reference_books.each do |reference_book| %>
            <tr>
              <td><%= link_to (image_tag(reference_book.image_url)), reference_book.url %></td>
              <td><%= reference_book.title %></td>
              <td><%= reference_book.author %></td>
              <td>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: <%= reference_book.progress %>%;" aria-valuenow="<%= reference_book.progress %>" aria-valuemin="0" aria-valuemax="100"><%= reference_book.progress %>%</div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>


  <div class='row mt-5 mb-3'>
    <%= link_to '一覧に戻る', end_users_path, method: :get, class: 'offset-4 col-4 btn btn-primary pl-5 pr-5' %>
  </div>

</div>