<div class='container'>

  <div class='row mt-3'>
    <span class='border border-dark h4 bg-secondary text-white p-2'>マイページ</span>
  </div>

  <div class='row mt-3'>
    <div class='col d-flex flex-row'>
    <!--d-flex : display を適用して, Flexコンテナを作成し, 子要素をFlexアイテムに変換-->
    <!--flex-row : 左から横並び-->
      <div class='p-2'>
        <span class='font-weight-bold'>登録情報</span>
      </div>
      <div class='ml-3 p-2'>
        <%= link_to '編集する', end_users_information_edit_path, class: 'btn btn-success btn-sm' %>
      </div>
    </div>
  </div>

  <div class='row mt-3'>
    <table class='col table table-bordered border-dark'>
      <tbody>
        <tr>
          <td>アカウント名</td>
          <td><%= @end_user.account_name %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @end_user.email %></td>
        </tr>
        <tr>
          <td>学習ステータス</td>
          <td><%= @end_user.is_study %></td>
        </tr>
        <tr>
          <td>受験予定日</td>
          <td><%= @end_user.exam_date %></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>