<div class="container">

  <% if params[:end_user_id].present? %>
    <div class="row mt-3">
      <h4 class="border border-dark bg-secondary text-white p-2"><%= EndUser.find(params[:end_user_id]).account_name %>さんのコメント一覧</h4>
    </div>
  <% else %>
    <div class="row mt-3">
      <h4 class="border border-dark bg-secondary text-white p-2">コメント一覧</h4>
    </div>
  <% end %>

  <div class="row mt-3">
    <table class="table table-bordered offset-1 col-10">
      <thead>
        <tr>
          <th style="width: 15%">コメント投稿日</th>
          <th style="width: 15%">質問タイトル</th>
          <th style="width: 30%">回答内容</th>
          <th style="width: 30%">投稿内容</th>
          <th style="width: 10%"></th>
        </tr>
      </thead>
      <tbody>
        <% @comments.each do |comment| %>
          <tr>
            <td><%= I18n.l comment.created_at, format: :short_day %></td>
            <td><%= comment.answer.question.title %></td>
            <td><%= truncate(comment.answer.answer, :length => 30) %></td>
            <td><%= truncate(comment.comment, :length => 30) %></td>
            <td class="text-center"><%= link_to "詳細", admin_comment_path(comment.answer.id), method: :get, class: "btn btn-primary btn-sm" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @comments %>
</div>