<div class="container">

  <div class="row mt-3">
    <h4 class="border border-dark bg-secondary text-white p-2">コメントした回答の詳細</h4>
  </div>

  <div class="row">
    <h5 class="ml-5 p-2">質問</h5>
  </div>

  <div class="row mt-1">
    <div class="offset-1 col-10 border border-dark">
      <div class="row ml-1 mt-1">
        <%= image_tag @answer.question.end_user.get_profile_image(100,100) %>
        <p class="d-flex align-items-center ml-3 mb-0" style="vertical-align:middle;">
          <%= @answer.question.end_user.account_name %><br>
          <%= I18n.l @answer.question.date, format: :default %>
        </p>
      </div>
      <div class="row mt-3">
        <table class="table table-borderless offset-1 col-10">
          <tbody>
            <tr>
              <th style="width: 15%">タイトル</th>
              <td style="width: 85%"><%= @answer.question.title %></td>
            </tr>
            <tr>
              <th>カテゴリー</th>
              <td><%= @answer.question.category.category_name %></td>
            </tr>
            <tr>
              <td colspan="2"><%= safe_join(@answer.question.question.split("\n"), tag(:br)) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <% if @answer.question.supplemental_questions.exists? %>
    <div class="row mt-2">
      <h5 class="ml-5 p-2">質問補足内容</h5>
    </div>
  <% end %>

  <div class="row mt-1">
    <% @answer.question.supplemental_questions.each do |supplemental_question| %>
      <div class="offset-1 col-10 border border-dark mt-2">
        <div class="row ml-1 mt-1">
          <%= image_tag @answer.question.end_user.get_profile_image(100,100) %>
          <p class="d-flex align-items-center ml-3 mb-0" style="vertical-align:middle;">
            <%= @answer.question.end_user.account_name %><br>
            <%= I18n.l supplemental_question.created_at, format: :short_day %>
          </p>
        </div>
        <div class="row mt-3">
          <table class="table table-borderless offset-1 col-10">
            <tbody>
              <tr>
                <td><%= safe_join(supplemental_question.supplemental_question.split("\n"), tag(:br)) %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row mt-5">
    <h5 class="ml-5 p-2">回答</h5>
  </div>

  <div class="row mt-1">
    <div class="offset-1 col-10 border border-dark">
      <div class="row ml-1 mt-1">
        <%= image_tag @answer.end_user.get_profile_image(100,100) %>
        <p class="d-flex align-items-center ml-3 mb-0" style="vertical-align:middle;">
          <%= @answer.end_user.account_name %><br>
          <%= I18n.l @answer.created_at, format: :short_day %>
        </p>
      </div>
      <div class="row">
        <table class="table table-borderless offset-1 col-10">
          <tbody>
            <tr>
              <td><%= safe_join(@answer.answer.split("\n"), tag(:br)) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row mt-1 mb-3">
    <div class="offset-2 col-9">
      <div class="row">
        <p>コメント件数：<%= @answer.comments.count %></p>
      </div>
      <% @comments.each do |comment| %>
        <div class="row mt-3">
          <%= image_tag comment.end_user.get_profile_image(80,80) %>
          <p class="d-flex align-items-center ml-3 mb-0" style="vertical-align:middle;">
            <%= comment.end_user.account_name %><br>
            <%= I18n.l comment.created_at, format: :short_day %>
          </p>
        </div>
        <div class="row">
          <table class="table table-borderless offset-1 col-10 mb-0">
            <tr>
              <td><%= safe_join(comment.comment.split("\n"), tag(:br)) %></td>
            </tr>
          </table>
        </div>
        <div class="row">
          <%= link_to "このコメントを取り消す", admin_comment_path(comment), method: :delete, class: "col-3 btn btn-danger btn-sm", data: {confirm: "削除しますか？"} %>
        </div>
      <% end %>
    </div>
  </div>

</div>