<div class="container">

  <div class="row mt-3">
    <h4>Q&A詳細</h4>
  </div>

  <div class="row mt-3">
    <h5 class="ml-5">質問</h5>
  </div>

  <div class="row mt-1">
    <div class="offset-1 col-10 border border-dark">
      <div class="row ml-1 mt-1">
        <%= image_tag @question.end_user.get_profile_image(100,100) %>
        <p class="d-flex align-items-center ml-3 mb-0" style="vertical-align:middle;">
          <%= @question.end_user.account_name %><br>
          <%= I18n.l @question.date, format: :default %>
        </p>
      </div>
      <div class="row mt-3">
        <table class="table table-borderless offset-1 col-10">
          <tbody>
            <tr>
              <th style="width: 15%">タイトル</th>
              <td style="width: 85%"><%= @question.title %></td>
            </tr>
            <tr>
              <th>カテゴリー</th>
              <td><%= @question.category.category_name %></td>
            </tr>
            <tr>
              <td colspan="2"><%= safe_join(@question.question.split("\n"), tag(:br)) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <% if @supplemental_questions.exists? %>
    <div class="row mt-2">
      <h5 class="ml-5">質問補足内容</h5>
    </div>

    <div class="row mt-1">
      <% @supplemental_questions.each do |supplemental_question| %>
        <div class="offset-1 col-10 border border-dark mt-2">
          <div class="row ml-1 mt-1">
            <%= image_tag @question.end_user.get_profile_image(100,100) %>
            <p class="d-flex align-items-center ml-3 mb-0" style="vertical-align:middle;">
              <%= @question.end_user.account_name %><br>
              <%= I18n.l supplemental_question.created_at, format: :short_day %>
            </p>
          </div>
          <div class="row mt-3">
            <table class="table table-borderless offset-1 col-10">
              <tbody>
                <tr>
                  <td><%= safe_join(supplemental_question.supplemental_question.split("\n"), tag(:br)) %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="row mt-5">
    <%= link_to "回答を入力する", new_answer_path(question_id: @question.id), method: :get, class: "offset-4 col-4 btn btn-primary" %>
  </div>

  <% if @answers.any? %>
    <div class="row mt-5">
      <h5 class="ml-5">アンサー(いいねが多い順)</h5>
    </div>

    <% @answers.each do |answer| %>
      <div class="row mt-1">
        <div class="offset-1 col-10 border border-dark">
          <div class="row ml-1 mt-1">
            <%= image_tag answer.end_user.get_profile_image(100,100) %>
            <p class="d-flex align-items-center ml-3 mb-0" style="vertical-align:middle;">
              <%= answer.end_user.account_name %><br>
              <%= I18n.l answer.created_at, format: :short_day %>
            </p>
          </div>
          <div class="row">
            <table class="table table-borderless offset-1 col-10">
              <tbody>
                <tr>
                  <td><%= safe_join(answer.answer.split("\n"), tag(:br)) %></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="row">
            <div class="offset-1 col-10">
              <p id = "favorite_buttons_<%= answer.id %>">
                <%= render "public/favorites/favorite", answer: answer %>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-1">
        <div class="offset-2 col-8" id="comment_area_<%= answer.id %>">
          <%= render "public/comments/comment", answer: answer, comment: @comment %>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="row mt-3">
    <%= link_to "Q&A一覧画面に戻る", question_and_answers_path, method: :get, class: "offset-4 col-4 btn btn-primary" %>
  </div>

</div>