<div class="container">

  <div class="row mt-3">
    <h4>管理者ログイン</h4>
  </div>

  <%= form_with model: @admin, url: admin_session_path, method: :post, local: true do |f| %>
    <div class="form-group row mt-3">
      <%= f.label :email, "メールアドレス", class: "col-2 form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", required: true, class: "col-10 form-control" %>
    </div>

    <div class="form-group row">
      <%= f.label :password, "パスワード", class: "col-2 form-label" %>
      <%= f.password_field :password, autocomplete: "current-password", required: true, class: "col-10 form-control" %>
    </div>

    <div class="row">
      <div class="offset-2 col-10 pl-0">
        <%= f.submit "ログイン", class: "btn btn-success pl-5 pr-5" %>
    </div>
  <% end %>

</div>