<div class='container'>

  <div class='row mt-3'>
    <h4 class='border border-dark bg-secondary text-white p-2'>回答一覧</h4>
  </div>

  <div class='row mt-3'>
    <table class='table table-bordered offset-1 col-10'>
      <thead>
        <tr>
          <th style='width: 15%'>回答投稿日</th>
          <th style='width: 20%'>質問タイトル</th>
          <th style='width: 15%'>カテゴリ</th>
          <th style='width: 20%'>投稿内容</th>
          <th style='width: 10%'></th>
          <th style='width: 20%'></th>
        </tr>
      </thead>
      <tbody>
        <% @answers.each do |answer| %>
          <tr>
            <td><%= I18n.l answer.created_at, format: :short_day %></td>
            <td><%= answer.question.title %></td>
            <td><%= answer.question.category.category_name %></td>
            <td><%= truncate(answer.answer, :length => 30) %></td>
            <td class='text-center'><%= link_to '詳細', answer_path(answer), method: :get, class: 'btn btn-primary btn-sm' %></td>
            <td class='text-center'><%= link_to '回答を取り消す', answer_path(answer), method: :delete, class: 'btn btn-danger btn-sm', data: {confirm: "削除しますか？"} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>