<div class='container'>

  <div class='row mt-3'>
    <h4 class='border border-dark bg-secondary text-white p-2'>質問投稿一覧</h4>
  </div>

  <div class='row mt-3'>
    <table class='table table-bordered offset-1 col-10'>
      <thead>
        <tr>
          <th style='width: 15%'>質問投稿日</th>
          <th style='width: 30%'>タイトル</th>
          <th style='width: 15%'>カテゴリ</th>
          <th style='width: 10%'></th>
          <th style='width: 15%'></th>
          <th style='width: 15%'></th>
        </tr>
      </thead>
      <tbody>
        <% @questions.each do |question| %>
          <tr>
            <td><%= question.date %></td>
            <td><%= question.title %></td>
            <td><%= question.category.category_name %></td>
            <td class='text-center'><%= link_to '詳細', question_path(question), method: :get, class: 'btn btn-primary btn-sm' %></td>
            <td class='text-center'><%= link_to '質問に補足する', new_supplemental_question_path, method: :get, class: 'btn btn-success btn-sm' %></td>
            <td class='text-center'><%= link_to '質問を取り消す', question_path(question), method: :delete, class: 'btn btn-danger btn-sm', data: {confirm: "削除しますか？"} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>