<div class='container'>

  <div class='row mt-3'>
    <h4 class='border border-dark bg-secondary text-white p-2'>会員一覧</h4>
  </div>

  <div class='row mt-3'>
    <table class='col table table-bordered'>
      <thead>
        <tr>
          <th style='width: 10%'>会員ID</th>
          <th style='width: 10%'>画像</th>
          <th style='width: 25%'>アカウント名</th>
          <th style='width: 25%'>メールアドレス</th>
          <th style='width: 20%'>総学習時間</th>
          <th style='width: 10%'>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @end_users.each do |end_user| %>
          <tr>
            <td><%= end_user.id %></td>
            <td><%= image_tag end_user.get_profile_image(60,60) %></td>
            <td>
              <%= link_to admin_end_user_path(end_user.id) do %>
                <%= end_user.account_name %>
              <% end %>
            </td>
            <td><%= end_user.email %></td>
            <td>
              <% total_time = 0 %>
              <% end_user.learning_records.each do |learning_record| %>
                <%total_time += learning_record.end_time - learning_record.start_time %>
              <% end %>
              <%= (total_time/(60*60)).round(2) %>時間
            </td>
            <td class='<%= end_user.is_deleted ? 'text-muted' : 'font-weight-bold text-success' %> text-center'>
              <%= end_user.is_deleted ? '退会' : '有効' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>