<div class="container">

  <div class="row mt-3">
    <h4>回答詳細</h4>
  </div>

  <div class="row">
    <h5 class="ml-5">質問</h5>
  </div>

  <div class="row mt-1">
    <div class="offset-1 col-10 border border-dark">
      <div class="row ml-1 mt-1">
        <%= image_tag @answer.question.end_user.get_profile_image(150,150) %>
        <p class="d-flex align-items-center ml-3 mb-0" style="vertical-align:middle;">
          <%= @answer.question.end_user.account_name %><br>
          <%= I18n.l @answer.question.date, format: :default %>
        </p>
      </div>
      <div class="row mt-3">
        <table class="table table-borderless offset-1 col-10">
          <tbody>
            <tr>
              <th style="width: 20%">タイトル</th>
              <td style="width: 80%"><%= @answer.question.title %></td>
            </tr>
            <tr>
              <th style="width: 20%">カテゴリー</th>
              <td style="width: 80%"><%= @answer.question.category.category_name %></td>
            </tr>
            <tr>
              <td colspan="2"><%= safe_join(@answer.question.question.split("\n"), tag(:br)) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <% if @answer.question.supplemental_questions.exists? %>
    <div class="row mt-2">
      <h5 class="ml-5">質問補足内容</h5>
    </div>
    <div class="row mt-1">
      <% @answer.question.supplemental_questions.each do |supplemental_question| %>
        <div class="offset-1 col-10 border border-dark mt-2">
          <div class="row ml-1 mt-1">
            <%= image_tag supplemental_question.question.end_user.get_profile_image(100,100) %>
            <p class="d-flex align-items-center ml-3 mb-0" style="vertical-align:middle;">
              <%= supplemental_question.question.end_user.account_name %><br>
              <%= I18n.l supplemental_question.created_at, format: :short_day %>
            </p>
          </div>
          <div class="row">
            <table class="table table-borderless offset-1 col-10">
              <tbody>
                <tr>
                  <td><%= safe_join(supplemental_question.supplemental_question.split("\n"), tag(:br)) %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="row mt-5">
    <h5 class="ml-5">回答</h5>
  </div>

  <div class="row mt-1">
    <div class="offset-1 col-10 border border-dark mt-2">
      <div class="row ml-1 mt-1">
        <%= image_tag @answer.end_user.get_profile_image(150,150) %>
        <p class="d-flex align-items-center ml-3 mb-0" style="vertical-align:middle;">
          <%= @answer.end_user.account_name %><br>
          <%= I18n.l @answer.created_at, format: :short_day %>
        </p>
      </div>
      <div class="row">
        <table class="table table-borderless offset-1 col-10">
          <tbody>
            <tr>
              <td><%= safe_join(@answer.answer.split("\n"), tag(:br)) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row mt-5 mb-3">
    <%= link_to "この回答を取り消す", admin_answer_path(@answer), method: :delete, class: "offset-4 col-4 btn btn-danger", data: {confirm: "削除しますか？"} %>
  </div>

  <div class="row mt-3">
    <%= link_to "回答者の回答一覧に戻る", admin_answers_path(end_user_id: @answer.end_user.id), method: :get, class: "offset-4 col-4 btn btn-primary" %>
  </div>

  <div class="row mt-3">
    <%= link_to "回答一覧に戻る", admin_answers_path, method: :get, class: "offset-4 col-4 btn btn-primary" %>
  </div>

</div>