<div class='container'>

  <div class='row mt-3'>
    <h4 class='border border-dark bg-secondary text-white p-2'>学習情報編集</h4>
  </div>

  <%= form_with model: @learning_record, url: learning_record_path, method: :patch, local: true do |f| %>
    <div class='row mt-5'>
      <table class='col table table-bordered'>
        <thead>
          <tr>
            <th style='width: 15%'>開始時間</th>
            <th style='width: 15%'>終了時間</th>
            <th style='width: 25%'>メモ書き</th>
            <th style='width: 20%'></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style='width: 15%'><%= f.time_field :start_time_option, required: true, class: 'form-control' %></td>
            <td style='width: 15%'><%= f.time_field :end_time_option, required: true, class: 'form-control' %></td>
            <td style='width: 25%'><%= f.text_area :content_memo, placeholder: 'メモ書き', class: 'form-control' %></td>
            <td class='text-center'>
              <%= f.submit '変更を保存', class: 'btn btn-success pl-5 pr-5' %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>

</div>