<div class='container'>

  <div class='row mt-3'>
    <h4 class='border border-dark bg-secondary text-white p-2'>学習記録一覧</h4>
  </div>

  <div class='row mt-3'>
    <div class='col-3'>
      <p>総学習時間</p>
      <p class='text-center'>aaa</p>
    </div>

    <div class='col-3'>
      <p>今月</p>
    </div>

    <div class='col-3'>
      <p>先月</p>
    </div>

    <div class='col-3'>
      <div>
        <p>表示年月日</p>
        <p class='text-center'>
          <%= link_to '<', learning_records_path(year: @time.prev_month.year, month: @time.prev_month.month), class: 'text-reset h5 pr-4' %>
          <%= I18n.l @time, format: :short_month %>
          <%= link_to '>', learning_records_path(year: @time.next_month.year, month: @time.next_month.month), class: 'text-reset h5 pl-4' %>
        </p>
      </div>
    </div>
  </div>

  <div class='row mt-5'>
    <table class='col table table-bordered'>
      <thead>
        <tr>
          <th style='width: 30%'>日付</th>
          <th style='width: 20%'>曜日</th>
          <th style='width: 30%'>学習時間</th>
          <th style='width: 20%'></th>
        </tr>
      </thead>
      <tbody>
        <% days = ["日曜日", "月曜日", "火曜日", "水曜日", "木曜日", "金曜日", "土曜日"] %>
        <% (@time.beginning_of_month.day..@time.end_of_month.day).each do |day| %>
          <% if @time.month < 10 && day < 10 %>
            <tr>
              <td><%= "0#{@time.month}" %>/<%= "0#{day}" %></td>
              <td>
                <% date = "#{@time.year}-0#{@time.month}-0#{day}" %>
                <%= date.wday %>
              </td>
              <td><%= @time %></td>
              <td class='text-center'><%= link_to '詳細', learning_records_path, class: 'btn btn-success btn-sm  pl-5 pr-5' %></td>
            </tr>
          <% elsif @time.month < 10  %>
            <tr>
              <td><%= "0#{@time.month}" %>/<%= "#{day}" %></td>
              <td>
                <% date = "#{@time.year}-0#{@time.month}-#{day}" %>
                <%= date.wday %>
              </td>
              <td><%= @time %></td>
              <td class='text-center'><%= link_to '詳細', learning_records_path, class: 'btn btn-success btn-sm  pl-5 pr-5' %></td>
            </tr>
          <% elsif day < 10 %>
            <tr>
              <td><%= "#{@time.month}" %>/<%= "0#{day}" %></td>
              <td>
                <% date = "#{@time.year}-#{@time.month}-0#{day}" %>
                <%= date.wday %>
              </td>
              <td><%= @time %></td>
              <td class='text-center'><%= link_to '詳細', learning_records_path, class: 'btn btn-success btn-sm  pl-5 pr-5' %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

</div>