<div class='container'>

  <div class='row mt-3'>
    <h4 class='border border-dark bg-secondary text-white p-2'>学習情報</h4>
  </div>

  <div class='row mt-5'>
    <table class='col table table-bordered'>
      <tbody>
        <tr>
          <td style='width: 15%'>日付</td>
          <td style='width: 85%'>
            <% days = ["日", "月", "火", "水", "木", "金", "土"] %>
            <%= I18n.l @date, format: :default %>(<%= days[@date.wday] %>)
          </td>
        </tr>
        <tr>
          <td>総学習時間</td>
          <td>
            <% total_time = 0 %>
            <% @learning_records.each do |learning_record| %>
              <% total_time += learning_record.end_time - learning_record.start_time %>
            <% end %>
            <%= (total_time/(60*60*60)).round(2) %>時間
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class='row mt-5'>
    <table class='col table table-bordered'>
      <thead>
        <tr>
          <th style='width: 15%'></th>
          <th style='width: 15%'>時間</th>
          <th style='width: 15%'>開始時間</th>
          <th style='width: 15%'>終了時間</th>
          <th style='width: 25%'>内容</th>
          <th style='width: 15%'></th>
        </tr>
      </thead>
      <tbody>
        <% @learning_records.each do |learning_record| %>
          <tr>
            <td>学習時間</td>
            <td>
              <%= ((learning_record.end_time - learning_record.start_time)/(60*60*60)).round(2) %>時間
            </td>
            <td><%= I18n.l learning_record.start_time, format: :short_time %></td>
            <td><%= I18n.l learning_record.end_time, format: :short_time %></td>
            <td><%= learning_record.content_memo %></td>
            <td class='text-center'><%= link_to '編集', edit_learning_record_path(learning_record), class: 'btn btn-success btn-sm' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>