<div class='container'>

  <div class='row mt-3'>
    <h4 class='border border-dark bg-secondary text-white p-2'>学習情報</h4>
  </div>

  <div class='row mt-5'>
    <table class='col table table-bordered'>
      <tbody>
        <tr>
          <td style='width: 15%'>日付</td>
          <td style='width: 85%'>
            <% days = ["日", "月", "火", "水", "木", "金", "土"] %>
            <%= I18n.l @date, format: :default %>(<%= days[@date.wday] %>)
          </td>
        </tr>
        <tr>
          <td>総学習時間</td>
          <td>
            <% total_time = 0 %>
            <% @learning_records.each do |learning_record| %>
              <% total_time += learning_record.end_time - learning_record.start_time %>
            <% end %>
            <%= (total_time/(60*60)).round(2) %>時間
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class='row mt-5'>
    <table class='col table table-bordered'>
      <thead>
        <tr>
          <th style='width: 10%'></th>
          <th style='width: 15%'>時間</th>
          <th style='width: 15%'>開始時間</th>
          <th style='width: 15%'>終了時間</th>
          <th style='width: 25%'>メモ書き</th>
          <th style='width: 20%'></th>
        </tr>
      </thead>
      <tbody>
        <% @learning_records.each_with_index do |learning_record, i| %>
          <tr>
            <th>学習時間<%= i + 1 %></th>
            <td>
              <%= ((learning_record.end_time - learning_record.start_time)/(60*60)).round(2) %>時間
            </td>
            <td><%= I18n.l learning_record.start_time, format: :short_time %></td>
            <td><%= I18n.l learning_record.end_time, format: :short_time %></td>
            <td><%= safe_join(learning_record.content_memo.split("\n"), tag(:br)) %></td>
            <td class='text-center'>
              <%= link_to '編集', edit_learning_record_path(learning_record), class: 'btn btn-success btn-sm pl-3 pr-3' %>
              <%= link_to '削除', learning_record_path(learning_record), method: :delete, class: 'btn btn-danger btn-sm pl-3 pr-3' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= form_with model: @learning_record, url: learning_records_path, method: :post, local: true do |f| %>
    <div class='row mt-3'>
      <table class='col table table-bordered'>
        <tbody>
          <tr>
            <td style='border-left: none !important; width: 10%'></td>
            <td style='width: 15%'></td>
            <td style='width: 15%'><%= f.time_field :start_time_option, class: 'form-control' %></td>
            <td style='width: 15%'><%= f.time_field :end_time_option, class: 'form-control' %></td>
            <td style='width: 25%'><%= f.text_area :content_memo, placeholder: 'メモ書き', class: 'form-control' %></td>
            <td class='text-center' style='width: 20%'>
              <%= f.hidden_field :date, :value => @date %>
              <%= f.hidden_field :is_record, :value => false %>
              <%= f.submit '学習時間を追加する', class: 'btn btn-success' %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>

  <div class='row mt-5'>
    <%= link_to '学習記録一覧に戻る', learning_records_path, class: 'offset-4 col-4 btn btn-primary pl-5 pr-5' %>
  </div>

</div>