<div class="container">

  <% if params[:end_user_id].present? %>
    <div class="row mt-3">
      <h4>
        <%= EndUser.find(params[:end_user_id]).account_name %>さんの質問一覧
      </h4>
    </div>
  <% else %>
    <div class="row mt-3">
      <h4>
        質問一覧
      </h4>
    </div>
  <% end %>

  <div class="row mt-3">
    <table class="table table-bordered offset-1 col-10">
      <thead>
        <tr>
          <th style="width: 15%">質問投稿日</th>
          <th style="width: 25%">タイトル</th>
          <th style="width: 15%">カテゴリ</th>
          <th style="width: 35%">投稿内容</th>
          <th style="width: 10%"></th>
        </tr>
      </thead>
      <tbody>
        <% @questions.each do |question| %>
          <tr>
            <td><%= question.date.strftime("%Y/%m/%d") %></td>
            <td><%= question.title %></td>
            <td><%= question.category.category_name %></td>
            <td><%= truncate(question.question, :length => 30) %></td>
            <td class="text-center">
              <%= link_to "詳細", admin_question_path(question), method: :get, class: "btn btn-primary btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @questions %>

  <% if params[:end_user_id].present? %>
    <div class="row mt-3">
      <%= link_to "会員情報詳細に戻る", admin_end_user_path(params[:end_user_id]), method: :get, class: "offset-4 col-4 btn btn-primary" %>
    </div>
  <% end %>

</div>