<div class="container">

  <div class="row mt-3">
    <h4>
      会員情報編集
    </h4>
  </div>

  <%= form_with model: @end_user, url: admin_end_user_path, method: :patch, local: true do |f| %>

    <div class="form-group row mt-3">
      <%= f.label :profile_image, "プロフィール画像（任意）", class: 'col-3 form-label' %>
      <div><%= f.file_field :profile_image, accept: "image/*" %></div>
    </div>

    <div class="row">
      <p class="col-3">会員ID</p>
      <div class="col-9"><%= @end_user.id %></div>
    </div>

    <div class="form-group row">
      <%= f.label :account_name, "アカウント名", class: "col-3 form-label" %>
      <%= f.text_field :account_name, required: true, autofocus: true, placeholder: "samplename", class: "col-9 form-control" %>
    </div>

    <div class="form-group row">
      <%= f.label :email, "メールアドレス", class: "col-3 form-label" %>
      <%= f.email_field :email,  required: true, placeholder: "sample@example.com", class: "col-9 form-control" %>
    </div>

    <div class="form-group row">
      <%= f.label :is_study, "学習ステータス", class: "col-3 form-label" %>
      <%= f.select :is_study, EndUser.is_studies.keys.map {|k| [I18n.t("enums.end_user.is_study.#{k}"), k]}, class: "col-9 form-control" %>
    </div>

    <div class="form-group row">
      <%= f.label :exam_date, "受験予定日（任意）", class: "col-3 form-label" %>
      <%= f.date_field :exam_date, class: "col-9 form-control" %>
    </div>

    <div class="form-group row">
      <%= f.label :is_deleted, "会員ステータス", class: "col-3 form-label" %>
      <div class="col-9">
        <%= f.radio_button :is_deleted, false, checked: true %>
        <%= f.label:is_deleted, "有効", value: false %>
        <%= f.radio_button :is_deleted, true, checked: false %>
        <%= f.label:is_deleted, "退会", value: true %>
      </div>
    </div>

    <div class="row">
      <div class="offset-3 col-9 pl-0">
        <%= f.submit "変更内容を保存", class: "btn btn-success" %>
        <%= link_to "会員情報詳細画面に戻る", admin_end_user_path(@end_user.id), method: :get, class: "btn btn-primary ml-5" %>
      </div>
    </div>
  <% end %>

</div>