<div class='container'>

  <div class='row mt-3'>
    <h4 class='border border-dark bg-secondary text-white p-2'>
      <%= @end_user.account_name %>さんの会員情報詳細
    </h4>
  </div>

  <div class='row'>
    <div class='col'><%= image_tag @end_user.get_profile_image(150,150) %></div>
  </div>

  <div class='row mt-3'>
    <table class='col table table-bordered'>
      <tbody>
        <tr>
          <td style='width: 25%'>会員ID</td>
          <td style='width: 75%'><%= @end_user.id %></td>
        </tr>
        <tr>
          <td>アカウント名</td>
          <td><%= @end_user.account_name %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @end_user.email %></td>
        </tr>
        <tr>
          <td>学習ステータス</td>
          <td><%= @end_user.is_study_i18n %></td>
        </tr>
        <tr>
          <td>受験予定日</td>
          <td><%= @end_user.exam_date.strftime("%Y年%m月%d日") if @end_user.exam_date.present? %></td>
        </tr>
        <tr>
          <td>会員ステータス</td>
          <td class='<%= @end_user.is_deleted ? 'text-muted' : 'font-weight-bold text-success' %>'>
            <%= @end_user.is_deleted ? '退会' : '有効' %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class='row mt-5'>
    <%= link_to '会員情報を編集する', edit_admin_end_user_path(@end_user), class: 'offset-3 col-4 btn btn-success pl-5 pr-5' %>
  </div>

  <div class='row mt-5'>
    <%= link_to '質問投稿一覧を見る', admin_questions_path, class: 'offset-3 col-4 btn btn-primary pl-5 pr-5' %>
  </div>

  <div class='row mt-3'>
    <%= link_to '回答投稿一覧を見る', admin_answers_path, class: 'offset-3 col-4 btn btn-primary pl-5 pr-5' %>
  </div>

</div>