<!DOCTYPE html>
<html>
  <head>
    <title>Takuhure</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--ヘッダーを画面上部に固定-->
    <header class='sticky-top'>
      <!--navbar-expand-mdでナビゲーションバーとハンバーガーメニューの切り替え-->
      <nav class='navbar nav-expand-lg bg-dark navbar-dark'>
        <a class='navbar-brand'>宅フレ！</a>
        <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarTogglerDemo02' aria-controls='navbarTogglerDemo02' aria-expanded='false' aria-label='Toggle navigation'>
          <span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse' id='navbarTogglerDemo02'>
          <ul class='navbar-nav mr-auto'>
            <li class='nav-item active'>
              <%= link_to 'マイページ', end_users_my_page_path, class: 'nav-link' %>
            </li>
            <li class='nav-item active'>
              <%= link_to 'ゲストログイン（閲覧用）', end_user_guest_sign_in_path, method: :post, class: 'nav-link' %>
            </li>
            <li class='nav-item active'>
              <%= link_to '会員ログアウト', destroy_end_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
            <li class='nav-item active'>
              <%= link_to '管理者ログアウト', destroy_admin_session_path, method: :delete, class: 'nav-link' %>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <div><%= render 'public/shared/flash_message' %></div>
      <div><%= render 'public/shared/error_messages', resource: resource %></div>
      <%= yield %>
    </main>
  </body>

</html>
